<header class="text-gray-600  bg-neutral-50">
    <div class="container mx-auto flex flex-wrap py-8 flex-col md:flex-row items-center justify-between">
        <a class="flex title-font font-medium items-center text-gray-900 mb-6 md:mb-0" href="{{ path('app_home') }}">
            <img src="{{ asset('build/images/bts_logo_black.png') }}" alt="logo back to school" class="w-32">
        </a>
        <nav class="flex flex-col md:flex-row items-center text-base justify-center">
            {% if app.user %}
                <a class="md:mr-5 hover:text-gray-900" href="{{ path('app_logout') }}">
                    <button class="shadow-lg text-indigo-500 border border-indigo-500 hover:bg-indigo-500 hover:text-white active:bg-indigo-600 font-bold uppercase text-sm px-6 py-3 rounded-full outline-none focus:outline-none mr-1 mb-2 ease-linear transition-all duration-150 w-48" type="button"
                    >
                        Déconnexion
                    </button>
                </a>
                <a class="md:mr-5 hover:text-gray-900" href="{{ path('app_dashboard') }}">
                    <button class="shadow-lg text-indigo-500 border border-indigo-500 hover:bg-indigo-500 hover:text-white active:bg-indigo-600 font-bold uppercase text-sm px-6 py-3 rounded-full outline-none focus:outline-none mr-1 mb-2 ease-linear transition-all duration-150 w-48" type="button"
                    >
                        Acceuil
                    </button>
                </a>
            {% else %}
                <a class="md:mr-5 hover:text-gray-900" href="{{ path('app_connexion') }}">
                    <button class="shadow-lg text-indigo-500 border border-indigo-500 hover:bg-indigo-500 hover:text-white active:bg-indigo-600 font-bold uppercase text-sm px-6 py-3 rounded-full outline-none focus:outline-none mr-1 mb-2 ease-linear transition-all duration-150 w-48" type="button"
                    >
                        Connexion
                    </button>
                </a>
                <a class="md:mr-5 hover:text-gray-900" href="{{ path('app_register') }}">
                    <button class="shadow-lg text-indigo-500 border border-indigo-500 hover:bg-indigo-500 hover:text-white active:bg-indigo-600 font-bold uppercase text-sm px-6 py-3 rounded-full outline-none focus:outline-none mr-1 mb-2 ease-linear transition-all duration-150 w-48" type="button"
                    >
                        Inscription
                    </button>
                </a>
            {% endif %}
        </nav>
    </div>
</header>