<header class="flex w-full items-center {{ bgColor }}">
    <div class="container mx-auto">
        <div class="relative flex flex-col sm:flex-row items-center justify-between">
            <div class="w-28 max-w-full px-4">
                <a href="{{ path('app_home') }}" class="block w-full py-5">
                    <img src="{{ asset("build/images/bts_logo_white.png") }}" alt="logo de l'application back to school" class="w-full"/>
                </a>
            </div>
            <div class="flex flex-col sm:flex-row mt-4 sm:mt-0">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="my-2 sm:mt-0 sm:mr-2 text-slate-300 px-6 py-2 transition ease-in duration-200 uppercase rounded-full border-2  border-transparent hover:text-white hover:border-2 hover:border-white cursor-pointer">
                        Déconnexion
                    </a>
                {% else %}
                    <a href="{{ path('app_connexion') }}" class="my-2 sm:mt-0 sm:mr-2 text-slate-300 px-6 py-2 transition ease-in duration-200 uppercase rounded-full border-2  border-transparent hover:text-white hover:border-2 hover:border-white cursor-pointer">
                        Connexion
                    </a>
                    <a href="#" class="my-2 sm:mt-0 sm:mr-2 text-bts-yellow px-6 py-2 transition ease-in duration-200 uppercase rounded-full border-2 border-transparent hover:border-2 hover:border-bts-yellow cursor-pointer">
                        Inscription
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
