<div class="mx-auto my-32 rounded-2xl border border-neutral-200 max-w-fit">
    <nav>
        <ul class="p-2 flex items-center list-style-none flex justify-center justify-between">
            <li>
                {% if page == 1 %}
                <div class="relative block mr-3 p-2">
                    {% else %}
                    <a href="{{ path('index_annonces', {'page' : page - 1}) }}" class="relative block mr-3 p-2 border-0 rounded-full hover:bg-neutral-200 transition-all duration-300 cursor-pointer">
                        {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                        </svg>
                        {% if page == 1 %}
                </div>
            {% else %}
                </a>
                {% endif %}
            </li>
            {% for i in 1..pages %}
                <li>
                    <a class="relative block m-1 px-3 py-1 border-0  rounded-full hover:bg-neutral-200 cursor-pointer transition-all duration-300 {{ (i == page) ? "bg-bts-green-400 hover:bg-bts-green-400  font-semibold text-white" }}"
                       href="{{ path('index_annonces', {'page' : i}) }}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}
            <li>
                {% if page == pages %}
                <div class="relative block ml-3 p-2">
                    {% else %}
                    <a href="{{ path('index_annonces', {'page' : page + 1}) }}" class="relative block ml-3 p-2 border-0 rounded-full hover:bg-neutral-200 transition-all duration-300 cursor-pointer">
                        {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                        </svg>
                        {% if page == pages %}
                </div>
            {% else %}
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>