{% extends 'base.html.twig' %}
{% block title %}recherche de produits{% endblock %}

{% block content %}
    <div class="">
        <h1>Liste des annonces :</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 auto-rows-auto gap-x-5 gap-y-10 w-10/12 mx-auto">
            {% for product in products %}
                <a href="{{ path('show_annonce', {'slug': product.slug}) }}" class="rounded-2xl border-2 border-neutral-200 shadow-lg duration-300 hover:bg-white transform transition duration-500 bg-gray-100 overflow-visible hover:border-bts-green-400 hover:shadow-2xl group">
                    <div class="p-6 pb-10 w-full h-full relative">
                        <div class="h-full w-full flex flex-col justify-between items-start">
                            <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">
                                {{ product.title }}
                            </h5>
                            <p class="text-gray-700 text-base mb-4">
                                {{ product.description }}
                            </p>
                            <span class="bg-info m-2 inline-block rounded-full py-1 px-3 text-sm font-semibold text-white">
                            {{ product.category.name }}
                            </span>
                        </div>
                        <button class="absolute bottom-0 left-1/2 translate-y-1/2 -translate-x-1/2 py-2 px-4 rounded-full bg-bts-green-400 transition duration-500 opacity-0 group-hover:opacity-100 text-white font-semibold">
                            plus d'informations
                        </button>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    {{ include('ad/_paginator.html.twig') }}

{% endblock %}