{% extends 'base.html.twig' %}
{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
    {% include "commons/_headerV2.html.twig" %}

        {% include "components/_successMessage.html.twig" %}

        <div class="container">
            <div class="lg:basis-full flex justify-center items-center py-8 px-4 md:px-16">
                <div class="text-center">
                    <h1 class="text-5xl font-extrabold text-bts-yellow-500 [text-shadow:_1px_1px_2px_rgb(0_0_0_/_80%)]">{{ product.title }}</h1>
                    <p class="mt-4 text-xl">
                        Annonce de {{ product.author.firstName }} {{ product.author.lastName }}
                    </p>
                </div>
            </div>
            <div class="lg:flex lg:items-center pb-16">
                <div class="py-2 lg:w-1/2 py-8 px-4 md:px-16">
                    <img src="{{ asset('build/images/communication .svg') }}">
                </div>
                <div class="py-2 lg:w-1/2 py-8 px-4 md:px-16">
                    <div class="relative">
                        <div class="hidden md:block absolute inset-0 bg-gradient-to-bl from-indigo-500 to-fuchsia-500 transform sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
                        </div>
                        <div class="relative bg-neutral-50 p-10 rounded-2xl border border-neutral-400 shadow-2xl">
                            {% include "components/_descBlock.html.twig" with {
                                product : product,
                                form : formView
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "commons/_footer.html.twig" %}
{% endblock %}